# ignorar módulos de node
/node_modules/

#ignorar archivos complementarios para el proyectos
/unprg-archivos/

#ignorar archivos de sincronizacion
/unprg-htdocs/_gsdata_

# sublimetext
*.sublime-project
*.sublime-workspace

#sftp
/unprg-htdocs/sftp-config.json