
@import "nib"
@import "includes/config.styl"

section
	text-align: center
	
	.titulo
		font-size: 20px
		font-weight: bold
		margin-top: 40px
	a
		color: black
		font-size: 16px
		text-decoration: none
		margin-top: 10px
		&:hover
			text-decoration: underline
	
	.contenedor
		text-align: center
		.pdf
			display: inline-block
			margin: 15px auto
			height: 800px
			max-width: 900px
			width: 100%