@import "nib"

@import "libs/inc-normalize.styl"
@import "libs/inc-icomoon.styl"
@import "includes/inc-config.styl"

@import "includes/inc-header.styl"
@import "includes/inc-nav.styl"
@import "includes/inc-footer.styl"
@import "includes/inc-botones.styl"