@import "libs/inc-normalize.styl"
@import "libs/inc-icomoon.styl"
@import "includes/inc-config.styl"

@import "includes/inc-header.styl"
@import "includes/inc-nav.styl"
@import "includes/inc-footer.styl"

@import "nib"

*
	margin: 0
	padding: 0
	font-family: 'Titillium Web', sans-serif

html
	font-size: 10px
	
.wraper
	max-width: 1400px
	padding: 0 4%
	margin: 0 auto

.clean
	width: 100%
	clear: both
	height: 0px