@import "libs/normalize.styl"
@import "libs/icomoon.styl"
@import "includes/config.styl"

@import "includes/header.styl"
@import "includes/nav.styl"
@import "includes/footer.styl"

@import "nib"

*
	margin: 0
	padding: 0
	font-family: 'Titillium Web', sans-serif

html
	font-size: 10px
	
.wraper
	max-width: 1400px
	padding: 0 4%
	margin: 0 auto

.clean
	width: 100%
	clear: both
	height: 0px