@import "libs/normalize.styl"
@import "libs/icomoon.styl"
@import "includes/general.styl"

@import "includes/header.styl"
@import "includes/nav.styl"
@import "includes/footer.styl"

@import "nib"

.unprg-portada
	font-size: 10px
	padding: 3.6em 0px
	@media screen and (max-width: 720px)
		font-size: 9px
	@media screen and (max-width: 620px)
		font-size: 8px
	@media screen and (max-width: 520px)
		font-size: 7px
	@media screen and (max-width: 420px)
		font-size: 6.5px
	
	.portada-col
		float: left
		box-sizing: border-box
	
	.unprg-slider
		width: 63%
	.unprg-avisos
		width: 33%
		margin-left: 4%
		
	@media screen and (max-width: 1024px)
		.unprg-slider
			width: 100%
		.unprg-avisos
			width: 100%
			margin-left: 0
			margin-top: 20px
		
	.unprg-slider
		.item
			box-sizing: border-box
			position: relative
			border: 1px solid #444

			img
				display: block
				height: auto
				width: 100%
			p
				background-color: rgba(0,0,0,0.6)
				color: white;
				position: absolute
				
			.item-titulo
				font-size: 2em
				font-weight: bold
				left: 0
				padding: 0.4em 1em
				top: 0
			
			.item-descripcion
				bottom: 0px
				font-size: 1.6em
				left: 0px
				padding: 0.5em 1.25em
				right: 0px
	
	.unprg-avisos
		background-color: ccAzul
		box-sizing: border-box
		max-height: 440px
		min-height: 100px
		font-size: 10px
		padding: 16px 20px
		overflow: auto
		
		.titulo
			text-align: center
			color: ccAmarillo
			font-weight: bold
			font-size: 1.8em
			
		.avisos
			margin-top: 16px
			
			.aviso
				border-top: 1px solid ccAzulClaro
				cursor: pointer
				display: block
				padding: 6px 0px
				text-decoration: none
				transition: all 0.2s
				&:last-child
					border-bottom: 1px solid ccAzulClaro
				&:hover
					background-color: ccAzul+4%
					
				&__texto
					color: white
					font-size: 1.4em
					text-align: justify
				&__fecha
					color: ccAmarillo
					font-size: 1.2em
					text-align: right
				

.unprg-cuerpo
	
	.cuerpo-col
		box-sizing: border-box
		float: left

	.unprg-home
		width: 70%
		
	.unprg-panel
		width: 25%
		margin-left: 5%
		min-height: 300px
		background-color: ccAzulMedio
		
	@media screen and (max-width: 1024px)
		.unprg-home
			width: 100%
		.unprg-panel
			width: 100%
			margin-left: 0px
		
	.unprg-home
		
		.unprg-sec
			
			.titulo
				border-bottom: 1px solid #ccc
				font-size: 2.4em
				font-weight: bold
				padding-bottom: 2px
				margin-bottom: 20px
		

		.autoridades
			font-size: 0px
			padding: 18px 0px
			text-align: center
			
			.titulo
				font-size: 24px
				text-align: left
			
			.persona
				font-size: 10px
				box-sizing: border-box
				padding: 14px 10px
				width: 50%
				display: inline-block
				
				.persona-nombre
					font-weight: bold
					font-size: 1.6em
				.persona-cargo
					font-size: 1.4em
					font-style: italic
					margin-top: 2px
				
				@media screen and (max-width: 620px)
					width: 100%
			
			.galeria
				margin-top: 20px
				font-size: 0px
				.item
					margin: 0px 5px
					border-radius: 8px
					overflow: hidden
					
					img
						width: 100%
						height: auto
						

	.unprg-panel
		font-size: 0px
		padding-bottom: 20px
		
		.panel-elem
			box-sizing: border-box
			display: inline-block
			font-size: 10px
			padding: 20px 20px 0px 20px
			width: 100%
			
			.titulo
				font-size: 2em
				font-weight: bold
				color: white
				
			a
				display: block
				
				img
					margin: 10px auto
					border: 2px solid white
					display: block
					max-width: 90%
			
			iframe
				width: 100%
				height: auto
				margin: 10px 0px
				
			@media screen and (max-width: 1024px)
				width: auto
				float: left
			@media screen and (max-width: 420px)
				width: auto


.construccion
	margin: 50px 0px

	p
		font-size: 40px
		text-align: center
		font-weight: bold
		color: ccAzulMedio
		padding: 50px 0px
		border-top: 1px solid #ccc
		border-bottom: 1px solid #ccc