
@import "nib"
@import "includes/inc-config.styl"

.enlaces
	margin: 50px auto;
	text-align: center
	font-size: 10px
	
	.enlace
		display: inline-block
		font-size: 2em
		font-weight: bold
		color: black
		vertical-align: center
		margin: 0 30px
		text-decoration: none

		*
			vertical-align: center
			text-decoration: none
			
		.nombre
			color: black
			text-decoration: none
			
		img
			height: 160px
			width: auto
			margin-top: 12px