
@import "nib"


footer
	background-color: ccAzulOscuro
	padding: 40px 0px
	margin-top: 20px
		
	.footer-col
		border-left: 1px solid ccAzul
		box-sizing: border-box
		float: left
		min-height: 200px
		width: 25%
		
		&:first-child
			border-left: none