@import "nib"

[class^="boton-"], [class*=" boton-"]
	border: none
	cursor: pointer
	display: inline-block
	font-size: 16px
	border: none !important
	border-style: solid !important
	border-color: white !important
	border-width: 0px 0px 0.3em 0px !important
	box-sizing: border-box
	outline: none !important
	text-align: center
	transition: background-color 0ms !important
	padding: 0.2em 1em
	&:active
		border-bottom-width: 0.2em !important
		padding-top: 0.3em
	&:disabled
		border-bottom-width: 0 !important
		padding-top: 0.4em !important
		padding-bottom: 0.4em !important
		pointer: initial
	
.boton-amarillo
	background-color: ccAmarillo
	border-color: cfAmarillo !important
	color: black
	&:hover
		background-color: ccAmarillo+12%
	&:disabled
		color: rgb(50,50,50)
		background-color: ccAmarillo !important
		
.boton-azul
	background-color: ccAzul
	border-color: cfAzul !important
	color: white
	&:hover
		background-color: ccAzul+12%
	&:disabled
		color: rgb(200,200,200)
		background-color: ccAzul !important