
@import "nib"


footer
	background-color: ccAzulOscuro
	padding-top: 20px
	margin-top: 20px
	font-size: 10px
	position: relative
	
	.logo
		font-size: 22px
		color: ccAzulClaro
		padding-bottom: 2px
		margin-bottom: 20px
		border-bottom: 1px solid ccAzulClaro
		
		
	.footer-col
		box-sizing: border-box
		float: left
		min-height: 200px
		width: 25%
		padding: 20px
		margin-top: 20px
		@media screen and (max-width: 1024px)
			width: 50%
			padding: 0px 10px
		@media screen and (max-width: 520px)
			width: 100%
			padding: 0px 0px
			text-align: center
		

		&:hover .titulo
			border-bottom: 1px solid ccAmarillo
			margin-bottom: 9px
			
		.titulo
			font-size: 1.8em
			color: ccAmarillo
			margin-bottom: 10px
			padding-bottom: 2px
		
		ul
			li
				font-size: 1.4em
				line-height: 2em
				padding-left: 5px
				color: white
				transition: all 300ms
				list-style: square
				list-style-position: inside
				a
					text-decoration: none
					color: white
					transition: all 300ms
					display: block
					white-space: nowrap
					overflow: hidden
					text-overflow: ellipsis
				&:hover
					background-color: ccAzulMedio
					
		.info
			text-align: center
			margin: 20px 0px
			box-sizing: border-box
			p
				font-size: 1.5em
				color: white
			
			i
				display: block
				font-size: 1.3em
				color: ccAzulClaro 
				line-height: 1.2em
				margin-top: 4px
				
		.info-dev
			cursor: pointer
			padding-top: 10px
			border-radius: 5px
			overflow: hidden
			&:hover
				border: 1px solid ccAzul
			&:hover .flotar
				height: 83px
				padding: 10px 8px
			
			.flotar
				color: white
				text-align: center
				font-size: 14px
				padding: 0px
				box-sizing: border-box
				background-color: ccAzul
				transition: all 200ms
				height: 0px
				overflow: hidden
				margin-top: 10px
				
				p
					font-size: 14px