<html lang="es">
    <head>
        <title>Bienvenido a entrevistaDO</title>
    </head>
    <body lang="es">
        <table lang="es" style="
               border-collapse: separate;
               border-spacing: 40px 20px;
               border: 3px solid #0059FF;
               color: #474747;
               font-family: Calibri;
               font-size: 20px;
               margin: 0 auto;
               width: 90%;
               text-align: center;
               margin: 10px 5%;
               -webkit-box-shadow: 0px 0px 10px 0px rgba(0,89,255,1);
               -moz-box-shadow: 0px 0px 10px 0px rgba(0,89,255,1);
               box-shadow: 0px 0px 10px 0px rgba(0,89,255,1);;
               ">
            <tr>
                <td>Hola!</td>
            </tr>
            <tr style="font-size: 26px; font-weight: bold">
                <td><%= nombres %>, <%= apellidos %></td>
            </tr>
            <tr>
                <td>te damos la bienvenida a</td>
            </tr>
            <tr>
                <td><img style="max-height: 100px" src="https://lh3.googleusercontent.com/-YEVt3F-sufI/VkQjGvs3SDI/AAAAAAAAAAw/cgayMp4im-k/w140-h140-p/logo1.png" alt="Logo de entrevistaDO"/></td>
            </tr>
            <tr style="font-size: 32px; font-weight: bold">
                <td>entrevistaDO</td>
            </tr>
        </table>
    </body>
</html>