<link rel="stylesheet" type="text/css" href="/frontend/css/piePagina.css">
<footer>
    <div class="cont-general">
        <div class="foot-div proyecto">
            <p class="titulo">El proyecto <span>entrevistaDO</span></p>
            <p class="detalle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="foot-div logo-epis">
            <img src="/frontend/img/logo-epis.png" />
        </div>
        <div class="foot-div grupo">
            <p class="titulo">Sobre el Equipo</p>
            <ul>
                <li>Franklin Criollo Carrasco</li>
                <li>Arles Agustín Taboada Sánchez</li>
            </ul>
            <p class="detalle">Estudiantes de la Escuela Porfesional de Ingeniería de Sistemas de la UNPRG</p>
        </div>
    </div>
</footer>