@import "nib"
@import "../includes/inc-config.styl"
@import "inc_navAdmin.styl"

section
	margin: 40px auto

	.admin-col
		box-sizing: border-box
		float: left
		
	.admin-nav
		width: 22%
		
	.admin-cuerpo
		width: 78%
		padding-left: 2%
		font-size: 16px
		
		.encabezado
			border-bottom: 2px solid black
			color: black
			font-size: 22px
			font-weight: bold
			display: block
			margin-bottom: 0 0 16px 0
			padding-bottom: 0 0 10px 0