@import "nib"

.admin-nav
	background-color: ccAzul
	border-radius: 4px
	box-shadow: -2px 2px 5px black
	color: white
	font-size: 16px
	padding: 16px
	
	.titulo
		.unprg
			font-size: 20px
			text-align: center
			margin-bottom: 2px
		.usuario
			font-size: 14px
			color: ccAmarillo
		
	ul
		border-top: 1px solid white
		display: block
		margin-top: 12px
		padding-top: 16px
		
		li
			list-style: none
			
			a
				color: white
				display: block
				text-decoration: none
				&:hover
					color: ccAmarillo